.header {
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 5vw;
  background-color: white;
  box-shadow: rgba(31, 45, 61, 0.15) 0px 2px 2px 0px;
  position: relative;
}

.display-container,
.filter-card-header,
.filter-name {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  padding: 4px 6px;
  border: solid 1px #bec2c8;
  border-radius: 4px;
  /* box-shadow: 0px 0px 4px 1px rgba(204, 198, 204, 1); */
}

.filter-container {
  position: absolute;
  top: 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 0;
  background-color: white;
  border: solid 1px gray;
  border-radius: 12px;
  padding: 12px 18px;
  margin: 0px;
}

.filter-type-card {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 60px;
}

.filter-type {
  color: #8a8b8c;
}

.filter-card {
  position: relative;
}

.filter-card-header {
  gap: 32px;
}

.filter-card-list {
  width: 100%;
  position: absolute;
  z-index: 5;
  padding-left: 0;
  top: 32px;
  background-color: white;
  border: solid 1px gray;
  border-radius: 4px;
}

.filter-name {
  list-style-type: none;
  border-radius: 0;
}
